@media(max-width:875px) {
    .main_banner {
        display: none;
    }
    .main_footer {
        align-items: center;
        margin-top: .7rem;
    }
}

@media(max-width:450px) {
    .main_content {
        margin-top: 0;
    }
    .main_login {
        max-width: 360px;
        width: 100%;
    }
    .main_login-inputs {
        margin-top: 2rem;
    }
    .main_login-form,
    .main_login_new-account {
        border: none;
        background-color: var(--insta-background);
        padding: 1rem;
    }
    .main_footer {
        margin-top: 4rem;
    }
    .main_footer-menu li a {
        font-size: .75rem;
    }
}